body{
    text-align: center;
    background-color: #f2e6b1;
    font-family: Verdana;
}
.recipe-list {
    text-align: left;
}
.intro{
    text-align: left;
}
h2{
    margin: 30px;
}
#lasagna{ 
    border: 5px solid black; 
    

}